

{% extends 'base.html' %}
{% block content %}
<form action="adds" method="POST">
        {% csrf_token %}
    <div class = "form">
        <label>Firstname: </label>
    <input type="text" name="firstname" required>
        <label>address: </label>
    <input type="text" name="address" required>
    <button type="submit" class ="lol"> ADD</button>
</div>
</form>

<table id="prank">
<thead>
<tr>
    <th> Name </th>
    <th> address </th>
    <th> action </th>
</tr>
</thead>
<tbody>
{% for member in detail %}
    <tr>
        <td>{{ member.firstname }}</td>
        <td>{{ member.address }}</td>
        <td>  <button class="ed" > <a href="edits/{{ member.id }}/"> Edit </a> </button> <button class ="del" ><a href="deletes/{{ member.id}}/"> Delete </a> </button> </td>
    </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}

